<app-esri-map
  [center]="mapCenter"
  [basemap]="basemapType"
  [zoom]="mapZoomLevel"
  (mapLoadedEvent)="mapLoadedEvent($event)"
>
</app-esri-map>

<section class="tiles">
  <figure class="series-tos">
    <img
      src="https://vignette.wikia.nocookie.net/memoryalpha/images/c/c2/Gorn_Kirk_cannon.jpg/revision/latest/scale-to-width-down/250?cb=20060216121823&path-prefix=en"
      alt="Vasquez Rocks"
    />
    <figcaption>
      <h4>Vasquez Rocks</h4>
      <cite>Star Trek</cite>
    </figcaption>
  </figure>
  <figure class="series-tos">
    <img
      src="https://vignette.wikia.nocookie.net/memoryalpha/images/3/3b/Deneva_surface.jpg/revision/latest/scale-to-width-down/250?cb=20100130213311&path-prefix=en"
      alt="TRW Space and Defense Park"
    />
    <figcaption>
      <h4>TRW Space and Defense Park</h4>
      <cite>Star Trek</cite>
    </figcaption>
  </figure>
  <figure class="series-tos">
    <img
      src="https://vignette.wikia.nocookie.net/memoryalpha/images/7/75/Amerind_obelisk.jpg/revision/latest?cb=20050506214110&path-prefix=en"
      alt="Franklin Canyon Reservoir"
    />
    <figcaption>
      <h4>Franklin Canyon Reservoir</h4>
      <cite>Star Trek</cite>
    </figcaption>
  </figure>
  <figure class="series-tos">
    <img
      src="https://vignette.wikia.nocookie.net/memoryalpha/images/e/ea/Neural_landscape.jpg/revision/latest/scale-to-width-down/250?cb=20090202030551&path-prefix=en"
      alt="Bronson Canyon"
    />
    <figcaption>
      <h4>Bronson Canyon</h4>
      <cite>Star Trek</cite>
    </figcaption>
  </figure>
  <figure class="series-tos">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Goldenoakranch.jpg/440px-Goldenoakranch.jpg"
      alt="Golden Oak Ranch"
    />
    <figcaption>
      <h4>Golden Oak Ranch</h4>
      <cite>Star Trek</cite>
    </figcaption>
  </figure>
  <figure class="series-tos">
    <img
      src="https://vignette.wikia.nocookie.net/memoryalpha/images/b/bc/Klingon_Bird-of-Prey_and_humpback_whale_filming.jpg/revision/latest/scale-to-width-down/250?cb=20090630102851&path-prefix=en"
      alt="Paramount Stage 31"
    />
    <figcaption>
      <h4>Paramount Stage 31</h4>
      <cite>Star Trek</cite>
    </figcaption>
  </figure>
  <figure class="series-tos">
    <img
      src="https://upload.wikimedia.org/wikipedia/en/thumb/8/86/RKO_Forty_Acres.jpg/220px-RKO_Forty_Acres.jpg"
      alt="RKO 40 Acres"
    />
    <figcaption>
      <h4>RKO 40 Acres</h4>
      <cite>Star Trek</cite>
    </figcaption>
  </figure>
  <figure class="series-tng">
    <img
      src="https://vignette.wikia.nocookie.net/memoryalpha/images/8/87/Woodley_park.jpg/revision/latest/scale-to-width-down/250?cb=20111208212203&path-prefix=en"
      alt="Tillman Water Reclamation Plant"
    />
    <figcaption>
      <h4>Tillman Water Reclamation Plant</h4>
      <cite>Star Trek: The Next Generation</cite>
    </figcaption>
  </figure>
  <figure class="series-tng">
    <img
      src="https://vignette.wikia.nocookie.net/memoryalpha/images/c/cd/Rubicun_III_surface.jpg/revision/latest/scale-to-width-down/250?cb=20120822005730&path-prefix=en"
      alt="Huntington Library"
    />
    <figcaption>
      <h4>Huntington Library</h4>
      <cite>Star Trek: The Next Generation</cite>
    </figcaption>
  </figure>
  <figure class="series-tng">
    <img
      src="https://vignette.wikia.nocookie.net/memoryalpha/images/3/36/Lambda_Paz_surface.jpg/revision/latest/scale-to-width-down/250?cb=20140314232235&path-prefix=en"
      alt="El Mirage Dry Lake Bed"
    />
    <figcaption>
      <h4>El Mirage Dry Lake Bed</h4>
      <cite>Star Trek: The Next Generation</cite>
    </figcaption>
  </figure>
  <figure class="series-tng">
    <img
      src="https://vignette.wikia.nocookie.net/memoryalpha/images/d/d9/Sherwood_Forest.jpg/revision/latest/scale-to-width-down/250?cb=20111110063153&path-prefix=en"
      alt="Descanso Garden"
    />
    <figcaption>
      <h4>Descanso Garden</h4>
      <cite>Star Trek: The Next Generation</cite>
    </figcaption>
  </figure>
</section>
