:host {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;

  min-height: 100vh;
  min-width: 100vw;
}

section {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  background-color: #eaeaea;
}

article {
  display: block;

  padding: 1.33rem;

  border-bottom: 1px solid #060606;
}

h3 {
  display: block;
  margin-bottom: 0.66rem;

  font-size: 1.66rem;
  font-weight: 500;
}
