<app-esri-map
  [center]="mapCenter"
  [basemap]="basemapType"
  [zoom]="mapZoomLevel"
  (mapLoadedEvent)="mapLoadedEvent($event)"
>
</app-esri-map>

<section>
  <article>
    <h3>The Federation's gone</h3>
    <p>
      I will obey your orders. I will serve this ship as First Officer. And in
      an attack against the Enterprise, I will die with this crew. But I will
      not break my oath of loyalty to Starfleet. Why don't we just give
      everybody a promotion and call it a night - 'Commander'?
    </p>
  </article>
  <article>
    <h3>The Borg is everywhere!</h3>
    <p>
      Some days you get the bear, and some days the bear gets you. Maybe if we
      felt any human loss as keenly as we feel one of those close to us, human
      history would be far less bloody.
    </p>
  </article>
</section>
